connexion >= 2.7.0; python_version>="3.6"
connexion >= 2.3.0; python_version=="3.5"
connexion >= 2.3.0; python_version=="3.4"
connexion == 2.4.0; python_version<="2.7"

swagger-ui-bundle == 0.0.8
python_dateutil == 2.8.1
setuptools == 65.5.1
gitpython == 3.1.11
sqlalchemy == 1.3.20
marshmallow == 3.9.0
pyyaml == 5.3.1
Flask == 1.1.2
requests == 2.24.0
rfc3987 == 1.3.8
six == 1.15.0
opera >= 0.6.2
straight.plugin == 1.5.0
waitress == 1.4.4
cryptography<3


ruamel.yaml
